:root {
    --aqua: #06b6d4;
    --aqua-oscuro: #0891b2;
    --gris-fondo: #f8fafc;
    --gris-borde: #e5e7eb;
    --texto: #1f2937;
}

/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--gris-fondo);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.login-container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid var(--gris-borde);
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    width: 350px;
}

/* Títulos */
h2 {
    margin-bottom: 5px;
    color: var(--texto);
}

p {
    margin-top: 0;
    color: #6b7280;
    font-size: 14px;
}

/* Grupos */
.form-group {
    margin-bottom: 15px;
}

/* Inputs */
.inputCredenciales {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--gris-borde);
    margin-top: 8px;
    transition: 0.2s;
}

.inputCredenciales:focus {
    outline: none;
    border-color: var(--aqua);
    box-shadow: 0 0 0 2px rgba(6, 182, 212, 0.15);
}

/* Botón */
button {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: var(--aqua);
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: var(--aqua-oscuro);
}

/* Checkbox */
label {
    font-size: 14px;
    color: #4b5563;
}